<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=sql-ftbilling.database.windows.net,1433;Initial Catalog=ft_uat;User ID=verisiondev@ftbilling.com;Password=TingTong123;Authentication=Active Directory Password;" />
		<!-- Sandbox -->
		<!--<add key="ClientId" value="ABx5m6tcmQdht7rATp1UjbexWyQAe133TwUpXuzDIau94b6nMx"/>-->
		<!--<add key="ClientSecret" value="T3iOY1x9d38oakKFKOGlfOewr2XuQjGvrC61SYc1"/>-->
		<!--<add key="RedirectUrl" value="http://localhost:4200/qbauth2"/>-->
		<!--<add key="Environment" value="sandbox"/>-->
		<!-- Production -->
		<add key="ClientId" value="AB9MqAafkDOq6r7oOGjx9U4c7EcLz9o6MOhAT0btmX4R3Qx0kn"/>
		<add key="ClientSecret" value="cL05oSiIwbaQ4duZobATII5jsztAH5gz49r1N1z7"/>
		<add key="RedirectUrl" value="https://portal.ftbilling.com/qbauth2"/>
		<add key="Environment" value="production"/>
	</appSettings>
</configuration>
