<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionstring" value="Server=sql-ftbilling.database.windows.net,1433;Initial Catalog=ft_uat_new;User ID=verisiondev@ftbilling.com;Password=TingTong123;Authentication=Active Directory Password;" />
		<add key="ServiceDelayInMinutes" value="60" />
		<!-- Sandbox -->
		<!--<add key="QuickBooks_Sandbox_client_id" value="ABx5m6tcmQdht7rATp1UjbexWyQAe133TwUpXuzDIau94b6nMx"/>-->
		<!--<add key="QuickBooks_Sandbox_client_secret" value="T3iOY1x9d38oakKFKOGlfOewr2XuQjGvrC61SYc1"/>-->
		<!--<add key="QuickBooks_Sandbox_redirect_url" value="http://localhost:4200/qbauth2"/>-->
		<!--<add key="QuickBooks_Sandbox_environment" value="sandbox"/>-->
		<!-- Production -->
		<add key="QuickBooks_Sandbox_client_id" value="AB9MqAafkDOq6r7oOGjx9U4c7EcLz9o6MOhAT0btmX4R3Qx0kn"/>
		<add key="QuickBooks_Sandbox_client_secret" value="cL05oSiIwbaQ4duZobATII5jsztAH5gz49r1N1z7"/>
		<add key="QuickBooks_Sandbox_redirect_url" value="https://portal.ftbilling.com/qbauth2"/>
		<add key="QuickBooks_Sandbox_environment" value="production"/>
	</appSettings>
</configuration>
